.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.bulb_on {
  display: var(--bulb_on, inline);
}

.bulb_off {
  display: var(--bulb_off, none);
}

.easter_egg {
  opacity: var(--egg, 0);
}
