:root {
  --rainbow: linear-gradient(
      var(--angle, 0),
      rgba(120, 120, 120, 1) 15%,
      rgba(181, 181, 181, 1) 20%,
      rgba(227, 227, 227, 1) 39%,
      rgba(255, 0, 0, 1) 40%,
      rgba(255, 154, 0, 1) 42%,
      rgba(208, 222, 33, 1) 44%,
      rgba(79, 220, 74, 1) 46%,
      rgba(63, 218, 216, 1) 48%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 52%,
      rgba(95, 21, 242, 1) 54%,
      rgba(186, 12, 248, 1) 56%,
      rgba(251, 7, 217, 1) 58%,
      rgba(255, 0, 0, 1) 60%,
      rgba(227, 227, 227, 1) 61%,
      rgba(181, 181, 181, 1) 80%,
      rgba(120, 120, 120, 1) 85%
    )
    repeat;
}

body {
  background-color: black;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--rainbow);
  background-color: #787878;
  padding: 5px;
}

.App > div > div {
  display: flex;
  flex-direction: column;
  background: black;
  padding: 15px;
}

.ctrlup {
  background: var(--rainbow);
  background-color: #787878;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bolder;
  font-size: 128px;
  margin-top: -20px;
}

.date {
  background: var(--rainbow);
  background-color: #787878;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bolder;
  font-size: 16px;
  align-self: flex-end;
}
